<div class="page-header flex-wrap flex-md-nowrap">
  <h1 class="h2">Show Tag</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to admin_tags_path, class: 'btn btn-light' do %>
      <i class="fa fa-angle-left"></i>
      All tags
    <% end %>
    <%= link_to "Edit", edit_admin_tag_path(@tag), class: 'btn btn-primary' %>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">ID:</dt>
      <dd class="col-sm-9"><%= @tag.id %></dd>
      <dt class="col-sm-3">First name:</dt>
      <dd class="col-sm-9"><%= @tag.name %></dd>
    </dl>
  </div>
</div>