<div class="page-header flex-wrap flex-md-nowrap">
  <h1 class="h2">Edit <%= singular_table_name.capitalize %></h1>
</div>

<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
