<div class="row">
  <div class="col-12 col-md-3">
    <div class="list-group mb-3">
      <%= profile_nav_item('Profile',  profile_path) %>
      <%= profile_nav_item('Password', edit_user_registration_path) %>
    </div>
  </div>
  <div class="col-12 col-md-9">
    <%= yield %>
  </div>
</div>
